body{
    background-image: url(../assets/liquid.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.container-access{
    background-color: transparent;
    margin-top: 375px;
}

.logo-access{
    align-content: center;
    padding: 15px 94.5px 30px;
}