.container{
    display: flex;
    max-width: 390px;
    justify-items: center !important;
    align-content: center;
    gap: 16px 20px;
    flex-wrap: wrap;
    padding: 18px 16px;
    background-color: var(--50BlackRock);
}

.logo-container{
    align-content: center;
    padding: 25px 37% 50px;
}

#login-logo{
    height: 60px;
    width: auto;
}

.login-label{
    color: var(--0Color);
}

.groups-container{
    padding: 0 13.7%;
    justify-items: center;
}

.groups-container-2{
    padding: 0 16.5%;
    justify-items: center;
}

#container-contraseña{
    height: 186px;
    padding: 0 13.7%;
    margin-bottom: 90px;
}

.px10{
    margin-bottom: 10px;
}

.px130{
    margin-bottom: 15%;
}