body{
    max-width: 768px;
    min-width: 320px;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;

    /*Vector de fondo*/
    background-image: url(../assets/liquid.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position-x: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: var(--devicewidth);
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

/*Class para texto mientras no existen las demás pantallas*/
.placeholder{
    margin: 110px auto;
    width: fit-content;
}
