:root{
    --md-sys-color-primary: #C19BFF;
    --md-sys-color-on-primary: #130027;
}

/*Botón*/
.btn-container{
    display: flex;
    height: 48px !important;
    padding: 9px 50px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 50px;
    text-decoration: none;
}

/*Tamaños*/
.btn-LG{
    width: 240px !important;
}

.btn-MD{
    width: 104px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/*Otros*/
.link{
    text-decoration: underline !important;
    color: var(--md-sys-color-primary) !important;
}