.trigger-container{
    width: 64px;
    height: 64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 3px solid var(--0Color);
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.shoot{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
    border-color: var(--0Color);
}

.shoot:active{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: var(--0Color);
}

.button-box{
    position: relative;
}