:root{
    --md-filled-button-label-text-color: var(--50BlackRock);
}

/*body{
    background-image: url('../assets/liquid-white-2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/

.content-container{
    width: 328px;
    padding: 18px 0;
}

.header-content{
    width: 328px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    --md-sys-color-secondary-container: var(--50BlackRock);
    --md-filled-tonal-icon-button-icon-color: var(--0Color);
    --md-filled-tonal-icon-button-pressed-state-layer-color:var(--0Color);
    h1{
        color: var(--50BlackRock);
        width: 228px;
        display: flex;
        justify-content: center;
    }
}

.btn-container{
    width: var(--accessdefaultwidth);
    height: 40px;
    align-items: center;
    margin-bottom: 3%;
    --md-sys-color-primary: var(--50MintTulip);
    --md-sys-color-on-primary: var(--50BlackRock);
}

.create-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}