.content-container{
    width: var(--devicewidth);
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    --md-filled-button-label-text-color: var(--50BlackRock);

    background-image: url('../assets/liquid-white-2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    form{
        margin: 0 auto;
    }
}

.header-content{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    color: var(--50BlackRock);
    --md-sys-color-secondary-container: var(--50BlackRock);
    --md-filled-tonal-icon-button-icon-color: var(--0Color);
    --md-filled-tonal-icon-button-pressed-state-layer-color:var(--0Color);
    h1{
        width: 80%;
    }
}

.btn-container{
    width: var(--accessdefaultwidth, 268px);
    height: 40px;
    align-items: center;
    margin: 5px auto;
    --md-sys-color-primary: var(--50MintTulip);
    --md-sys-color-on-primary: var(--50BlackRock);
}

.create-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
