.dashboard-container{
    position: relative;
    /*left: 390px;*/
    left: 0;
    top: 100px;
    display: flex;
    padding: 18px 0 ;
    width: inherit;
    min-height: 100vh;
}


.dashboard-tab-panel{
    display: flex;
    padding: 0 16px;
    padding-bottom:100px ;
    gap: 16px 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}
/*.vector-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}*/