.dashboard-container{
    position: relative;
    /*left: 390px;*/
    left: 0;
    margin-top: 100px;
    display: flex;
    padding: 18px 0 100px 0;
    width: inherit;
}

.para-ti-selected{
    animation: parati 300ms ease-in-out linear forwards;
}

.mis-amigos-selected{
    animation: amigos 300ms ease-in-out linear forwards;
}

.dashboard-tab-panel{
    display: flex;
    padding: 0 16px;
    gap: 16px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/*.vector-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}*/