:root{
    --md-outlined-text-field-label-text-color: var(--100BabyPurple);
    --md-outlined-text-field-input-text-color: var(--100BabyPurple);
    --md-outlined-text-field-focus-outline-color: var(--50BabyPurple); 
    --md-outlined-text-field-input-text-font: Jost;
    --md-outlined-text-field-label-text-font: Jost;
    --_selected-focus-icon-color:var(--100MintTulip);
    --_icon-color: #fff;
}

.input-default{
    display: flex;
    height: 56px;
    width: 260px !important;
    padding: 18px 10px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    font-family: Jost;
    border-radius: 5px 5px 0px 0px;
}