.navbar-icongroup{
    display: inline-flex;
padding: 3px 7px;
flex-direction: column;
gap: 2px;
}

.navbar-icon{
    width: 50px;
}
.ios-label{
    color: #FFF;
text-align: center;
font-family: Jost;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}