.navbar-container{
    display: inline-flex;
    height: 80px;
    padding: 3px 10vw 10px 10vw;
    justify-content: space-between;
    align-items: center;
    width: var(--devicewidth);

    z-index: 1;
    position: fixed;
    bottom: 0;

    border-radius: 58px 58px 0px 0px;
    background: var(--0Color);
    box-shadow: 0px -4px 8px 3px rgba(0, 0, 0, 0.15), 0px -1px 3px 0px rgba(0, 0, 0, 0.30);
}

.navbar-container a{
    border-radius: 50%;
    text-decoration: none;
}

.navbar-container a:focus{
    background-color: none;
}

.navbar-container md-icon{
    color: var(--100Color);
}

.navbar-container .active md-icon{
    color: var(--50BlackRock)
}
@media only screen and (min-width: 580px) {
    .navbar-container{
        width: 50vw;
        left: 25vw;
    }
}