
.camera-container{
    position: relative;
    left: 0;
    display: flex;
    --devicewidth: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    --md-sys-color-secondary-container: var(--25MintTulip);
    --md-sys-color-on-surface-variant: var(--50BlackRock);
    --md-filled-tonal-button-label-text-font: Jost;

}

.foto-tomada{
    height: 100vh;
    position: fixed;
    z-index: -1;
}


.camera-interactions{
    position: fixed;
    padding: 2% 0;
    z-index: 1;
}

.sup-button{
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}
.sup-dl-button{
    margin-left: auto;
}

.camera-buttons{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
}

.trigger-container{
    width: 64px;
    height: 64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 3px solid var(--0Color);
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.shoot{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
    border-color: var(--0Color);
}

.shoot:active{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: var(--0Color);
}

.button-box{
    position: relative;
}
.btn-volver{
    height: 40px;
    padding: 0 25px;
    align-items: center;
    margin: 15px auto;
    --md-sys-color-primary: var(--50MintTulip);
    --md-sys-color-on-primary: var(--50BlackRock);
}